.p-Home.Flex31 {
display: flex;
flex-direction: column;
align-items: center;
}
.p-Home.Flex32 {
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
padding-top: 40px;
}
.p-Home.Flex43 {
display: flex;
}
.p-Home.Flex44 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex45 {
display: flex;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}
.p-Home.Flex33 {
display: flex;
width: 80%;
justify-content: space-between;
padding-top: 70px;
padding-bottom: 20px;
}
.p-Home.Flex47 {
display: flex;
flex-direction: column;
}
.p-Home.Div37 {
padding-bottom: ;
margin-bottom: ;
padding-right: ;
margin-right: 100px;
}
.p-Home.Flex50 {
display: flex;
margin-right: 20px;
padding-right: 20px;
font-family: IBM Plex Sans;
}
.p-Home.Flex51 {
display: flex;
font-size: 18px;
align-items: center;
justify-content: center;
}
.p-Home.Div38 {
margin-bottom: ;
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 75px;
line-height: 110%;
}
.p-Home.Div40 {
;
}
.p-Home.Div41 {
;
}
.p-Home.Flex48 {
display: flex;
}
.p-Home.Flex34 {
display: flex;
width: 60%;
flex-direction: column;
padding-top: 80px;
padding-bottom: 80px;
font-family: IBM Plex Sans;
}
.p-Home.Flex52 {
display: flex;
align-items: center;
justify-content: center;
}
.p-Home.Flex53 {
display: flex;
justify-content: space-between;
margin-top: 40px;
}
.p-Home.Flex35 {
display: flex;
width: 75%;
flex-direction: column;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Flex54 {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
line-height: 20px;
font-size: 14px;
padding-bottom: 20px;
}
.p-Home.Div63 {
;
}
.p-Home.Flex67 {
display: flex;
margin-right: 30px;
}
.p-Home.Flex69 {
display: flex;
flex-direction: column;
font-size: 54px;
line-height: 110%;
align-items: center;
justify-content: center;
padding-top: 15px;
padding-bottom: 30px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Flex56 {
display: flex;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex58 {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-right: ;
height: 381px;
box-sizing: border-box;
}
.p-Home.Div44 {
margin-bottom: ;
margin-right: 0px;
}
.p-Home.Div45 {
padding-bottom: ;
}
.p-Home.Div46 {
font-size: 16px;
line-height: 28px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Div47 {
color: #666666;
padding-bottom: ;
}
.p-Home.Flex59 {
display: flex;
}
.p-Home.Flex64 {
display: flex;
flex-direction: column;
padding-right: ;
height: 381px;
justify-content: space-between;
}
.p-Home.Div48 {
;
}
.p-Home.Div58 {
color: #666666;
padding-bottom: ;
}
.p-Home.Div49 {
;
}
.p-Home.Div56 {
font-size: 16px;
line-height: 28px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Div50 {
;
}
.p-Home.Div51 {
margin-bottom: ;
margin-right: 0px;
}
.p-Home.Flex60 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex65 {
display: flex;
flex-direction: column;
padding-right: ;
justify-content: space-between;
height: 381px;
align-items: stretch;
}
.p-Home.Div52 {
;
}
.p-Home.Div59 {
color: #666666;
padding-bottom: ;
}
.p-Home.Div53 {
;
}
.p-Home.Div57 {
font-size: 16px;
line-height: 28px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Div54 {
;
}
.p-Home.Div55 {
margin-bottom: ;
margin-right: 0px;
}
.p-Home.Flex37 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
}
.p-Home.Flex74 {
display: flex;
width: 80%;
justify-content: space-between;
padding-top: 80px;
align-items: center;
}
.p-Home.Flex72 {
display: flex;
justify-content: center;
align-items: center;
}
.p-Home.Flex73 {
display: flex;
flex-direction: column;
}
.p-Home.Div67 {
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Div68 {
margin-right: ;
font-size: 54px;
line-height: 110%;
padding-top: 19px;
}
.p-Home.Div69 {
;
}
.p-Home.Flex75 {
display: flex;
justify-content: flex-start;
margin-right: ;
margin-bottom: 2px;
width: 80%;
align-items: center;
}
.p-Home.Flex80 {
display: flex;
flex-direction: column;
}
.p-Home.Flex82 {
display: flex;
margin-right: ;
}
.p-Home.Flex83 {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;
flex-direction: column;
font-family: IBM Plex Sans;
}
.p-Home.Flex96 {
display: flex;
}
.p-Home.Flex86 {
display: flex;
flex-direction: column;
}
.p-Home.Flex85 {
display: flex;
margin-right: ;
}
.p-Home.Flex102 {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;
flex-direction: column;
font-family: IBM Plex Sans;
}
.p-Home.Flex101 {
display: flex;
}
.p-Home.Flex89 {
display: flex;
flex-direction: column;
}
.p-Home.Flex88 {
display: flex;
margin-right: ;
}
.p-Home.Flex104 {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;
flex-direction: column;
font-family: IBM Plex Sans;
}
.p-Home.Flex103 {
display: flex;
}
.p-Home.Flex92 {
display: flex;
flex-direction: column;
}
.p-Home.Flex91 {
display: flex;
margin-right: ;
}
.p-Home.Flex106 {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;
flex-direction: column;
font-family: IBM Plex Sans;
}
.p-Home.Flex105 {
display: flex;
}
.p-Home.Flex95 {
display: flex;
flex-direction: column;
}
.p-Home.Flex94 {
display: flex;
margin-right: ;
}
.p-Home.Flex108 {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
padding-left: 32px;
padding-right: 32px;
flex-direction: column;
font-family: IBM Plex Sans;
}
.p-Home.Flex107 {
display: flex;
}
.p-Home.Flex109 {
display: flex;
justify-content: flex-end;
width: 80%;
}
.p-Home.Flex110 {
display: flex;
padding-bottom: 22px;
padding-top: 22px;
padding-right: 22px;
padding-left: 22px;
background-color: #ffffff;
}
.p-Home.Flex111 {
display: flex;
}
.p-Home.Flex39 {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
background-color: #010101;
margin-bottom: 80px;
padding-bottom: 80px;
padding-top: 80px;
}
.p-Home.Flex132 {
display: flex;
width: 80%;
justify-content: space-between;
color: #ffffff;
padding-top: ;
padding-bottom: ;
margin-bottom: ;
align-items: flex-start;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Flex130 {
display: flex;
flex-direction: column;
position: static;
padding-bottom: 140px;
}
.p-Home.Flex122 {
display: flex;
}
.p-Home.Flex123 {
display: flex;
align-items: center;
justify-content: flex-start;
}
.p-Home.Flex124 {
display: flex;
margin-right: ;
padding-bottom: ;
}
.p-Home.Flex131 {
display: flex;
flex-direction: column;
}
.p-Home.Flex125 {
display: flex;
padding-bottom: 30px;
margin-bottom: 65px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Flex147 {
display: flex;
height: ;
flex-direction: column;
}
.p-Home.Flex144 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex164 {
display: flex;
align-items: center;
}
.p-Home.Flex145 {
display: flex;
margin-right: ;
}
.p-Home.Flex146 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.Flex160 {
display: flex;
align-items: center;
}
.p-Home.Flex126 {
display: flex;
padding-bottom: 30px;
margin-bottom: 65px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Flex143 {
display: flex;
height: ;
flex-direction: column;
padding-bottom: 3px;
}
.p-Home.Flex140 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex163 {
display: flex;
align-items: center;
}
.p-Home.Flex141 {
display: flex;
margin-right: ;
}
.p-Home.Flex142 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.Flex168 {
display: flex;
align-items: center;
}
.p-Home.Flex127 {
display: flex;
padding-bottom: 30px;
margin-bottom: 65px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Flex139 {
display: flex;
height: ;
flex-direction: column;
}
.p-Home.Flex136 {
display: flex;
color: #ffffff;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex162 {
display: flex;
align-items: center;
}
.p-Home.Flex137 {
display: flex;
margin-right: ;
}
.p-Home.Flex138 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.Flex158 {
display: flex;
align-items: center;
}
.p-Home.Flex128 {
display: flex;
height: ;
flex-direction: column;
padding-bottom: 30px;
margin-bottom: 65px;
border-style: ;
border-width: ;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Flex133 {
display: flex;
align-items: center;
line-height: 100%;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.Flex134 {
display: flex;
margin-right: ;
}
.p-Home.Flex135 {
display: flex;
align-items: center;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex156 {
display: flex;
padding-bottom: 30px;
margin-bottom: 65px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Flex155 {
display: flex;
height: ;
flex-direction: column;
}
.p-Home.Flex152 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 300;
}
.p-Home.Flex161 {
display: flex;
align-items: center;
}
.p-Home.Flex153 {
display: flex;
margin-right: ;
}
.p-Home.Flex154 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex165 {
display: flex;
align-items: center;
}
.p-Home.Flex40 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
}
.p-Home.Flex169 {
display: flex;
width: 80%;
justify-content: space-between;
align-items: center;
padding-top: 80px;
padding-bottom: 80px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Flex171 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex175 {
display: flex;
margin-right: ;
}
.p-Home.Flex176 {
display: flex;
}
.p-Home.Flex172 {
display: flex;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex170 {
display: flex;
width: 80%;
justify-content: space-between;
padding-bottom: 80px;
}
.p-Home.Flex177 {
display: flex;
}
.p-Home.Flex178 {
display: flex;
}
.p-Home.Flex179 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex181 {
display: flex;
margin-right: ;
}
.p-Home.Flex182 {
display: flex;
}
.p-Home.Flex41 {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}
.p-Home.Flex183 {
display: flex;
width: 80%;
justify-content: space-between;
height: 506px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Flex184 {
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Flex186 {
display: flex;
margin-right: ;
}
.p-Home.Flex189 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex195 {
display: flex;
margin-right: 30px;
flex-direction: column;
}
.p-Home.Flex196 {
display: flex;
flex-direction: column;
}
.p-Home.Flex199 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex198 {
display: flex;
margin-right: 30px;
flex-direction: column;
}
.p-Home.Flex203 {
display: flex;
flex-direction: column;
}
.p-Home.Flex202 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex201 {
display: flex;
margin-right: 30px;
flex-direction: column;
}
.p-Home.Flex204 {
display: flex;
flex-direction: column;
}
.p-Home.Flex215 {
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 500;
}
.p-Home.Flex213 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex217 {
display: flex;
}
.p-Home.Flex219 {
display: flex;
margin-right: ;
margin-left: ;
flex-direction: column;
}
.p-Home.Flex220 {
display: flex;
}
.p-Home.Flex218 {
display: flex;
flex-direction: column;
}
.p-Home.Flex214 {
display: flex;
margin-right: ;
}
.p-Home.Flex225 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex223 {
display: flex;
flex-direction: column;
}
.p-Home.Flex224 {
display: flex;
}
.p-Home.Flex221 {
display: flex;
}
.p-Home.Flex222 {
display: flex;
margin-right: ;
margin-left: ;
flex-direction: column;
}
.p-Home.Flex230 {
display: flex;
justify-content: space-between;
}
.p-Home.Flex228 {
display: flex;
flex-direction: column;
}
.p-Home.Flex229 {
display: flex;
}
.p-Home.Flex226 {
display: flex;
}
.p-Home.Flex227 {
display: flex;
margin-right: ;
margin-left: ;
flex-direction: column;
}
.p-Home.Flex232 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Flex235 {
display: flex;
width: 80%;
padding-top: 80px;
}
.p-Home.Flex239 {
display: flex;
flex-direction: column;
}
.p-Home.Flex236 {
display: flex;
width: 80%;
justify-content: space-between;
padding-top: 80px;
padding-bottom: 160px;
}
.p-Home.Flex237 {
display: flex;
}
.p-Home.Flex238 {
display: flex;
flex-direction: column;
width: 583px;
height: 450px;
justify-content: space-between;
}
.p-Home.Flex240 {
display: flex;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex241 {
display: flex;
flex-direction: column;
}
.p-Home.Flex242 {
display: flex;
}
.p-Home.Flex233 {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: space-between;
color: #ffffff;
background-color: #000000;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Flex243 {
display: flex;
width: 80%;
align-items: center;
justify-content: space-between;
flex-direction: column;
padding-top: 80px;
}
.p-Home.Flex247 {
display: flex;
}
.p-Home.Flex248 {
display: flex;
}
.p-Home.Flex244 {
display: flex;
width: 80%;
justify-content: space-between;
align-items: flex-start;
padding-bottom: 80px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex245 {
display: flex;
flex-direction: column;
font-size: 24px;
line-height: 130%;
justify-content: space-between;
}
.p-Home.Flex249 {
display: flex;
margin-right: ;
justify-content: space-between;
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
align-items: center;
width: 583px;
}
.p-Home.Flex258 {
display: flex;
margin-right: ;
}
.p-Home.Flex259 {
display: flex;
}
.p-Home.Flex250 {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 583px;
}
.p-Home.Flex268 {
display: flex;
margin-right: ;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex267 {
display: flex;
margin-right: ;
}
.p-Home.Flex251 {
display: flex;
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
justify-content: space-between;
width: 583px;
}
.p-Home.Flex252 {
display: flex;
justify-content: space-between;
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 583px;
align-items: center;
}
.p-Home.Flex262 {
display: flex;
margin-right: ;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex261 {
display: flex;
margin-right: ;
}
.p-Home.Flex257 {
display: flex;
flex-direction: column;
font-size: 24px;
line-height: 130%;
}
.p-Home.Flex253 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 583px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex274 {
display: flex;
margin-right: ;
justify-content: space-between;
align-items: center;
border-bottom-style: none;
}
.p-Home.Flex273 {
display: flex;
margin-right: ;
}
.p-Home.Flex254 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 583px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex277 {
display: flex;
margin-right: ;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex276 {
display: flex;
margin-right: ;
}
.p-Home.Flex255 {
display: flex;
border-bottom-width: 1px;
border-bottom-style: solid;
width: 583px;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex280 {
display: flex;
margin-right: ;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex279 {
display: flex;
margin-right: ;
justify-content: space-between;
}
.p-Home.Flex256 {
display: flex;
margin-right: ;
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: 1px;
border-bottom-style: solid;
justify-content: space-between;
align-items: center;
width: 583px;
}
.p-Home.Flex271 {
display: flex;
margin-right: ;
justify-content: space-between;
align-items: center;
}
.p-Home.Flex270 {
display: flex;
margin-right: ;
}
.p-Home.Flex234 {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
margin-top: ;
margin-bottom: ;
color: #ffffff;
background-color: #000000;
}
.p-Home.Flex281 {
display: flex;
width: 80%;
padding-top: 160px;
padding-bottom: ;
flex-direction: column;
justify-content: space-between;
height: ;
box-sizing: border-box;
margin-bottom: 20px;
}
.p-Home.Flex282 {
display: flex;
}
.p-Home.Flex285 {
display: flex;
flex-direction: column;
}
.p-Home.Flex283 {
display: flex;
justify-content: space-between;
margin-top: 80px;
}
.p-Home.Flex286 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex289 {
display: flex;
margin-top: 9px;
margin-bottom: 30px;
font-size: 17px;
line-height: 36px;
align-items: center;
}
.p-Home.Flex290 {
display: flex;
justify-content: space-between;
font-size: 18px;
width: 478px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Flex291 {
display: flex;
margin-bottom: ;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex292 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex293 {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.p-Home.Flex284 {
display: flex;
}
.p-Home.Flex288 {
display: flex;
}
.p-Home.Flex231 {
display: flex;
}
.p-Home.Image12 {
padding-bottom: 13px;
}
.p-Home.TextBox21 {
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
margin-right: 20px;
}
.p-Home.TextBox22 {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
margin-right: 20px;
}
.p-Home.TextBox23 {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
margin-right: 20px;
}
.p-Home.TextBox24 {
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
margin-right: 20px;
}
.p-Home.TextBox26 {
padding-right: 5px;
}
.p-Home.Image14 {
;
}
.p-Home.Button6 {
color: #fff;
background-color: #000000;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
margin-right: 40px;
}
.p-Home.TextBox37 {
padding-right: 10px;
}
.p-Home.Image19 {
width: 15px;
height: 15px;
}
.p-Home.TextBox28 {
font-size: 75px;
line-height: 110%;
padding-bottom: ;
}
.p-Home.TextBox30 {
font-size: 75px;
line-height: 110%;
margin-bottom: ;
}
.p-Home.TextBox31 {
font-size: 75px;
line-height: 110%;
}
.p-Home.TextBox32 {
font-size: 22px;
line-height: 150%;
padding-bottom: ;
font-family: IBM Plex Sans;
}
.p-Home.TextBox33 {
font-size: 22px;
line-height: 150%;
font-family: IBM Plex Sans;
}
.p-Home.TextBox29 {
;
}
.p-Home.Image15 {
;
}
.p-Home.TextBox38 {
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.Image23 {
width: 140px;
height: 31px;
}
.p-Home.Image24 {
width: 140px;
height: 31px;
}
.p-Home.Image25 {
width: 140px;
height: 31px;
}
.p-Home.Image26 {
width: 140px;
height: 31px;
}
.p-Home.TextBox75 {
font-size: 22px;
line-height: 100%;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox76 {
;
}
.p-Home.TextBox77 {
;
}
.p-Home.TextBox44 {
font-size: 24px;
line-height: 110%;
padding-bottom: ;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Image30 {
padding-top: 3px;
}
.p-Home.TextBox51 {
;
}
.p-Home.TextBox52 {
;
}
.p-Home.TextBox53 {
;
}
.p-Home.TextBox61 {
;
}
.p-Home.TextBox62 {
padding-right: ;
}
.p-Home.TextBox85 {
;
}
.p-Home.TextBox63 {
;
}
.p-Home.TextBox64 {
;
}
.p-Home.TextBox86 {
;
}
.p-Home.TextBox54 {
;
}
.p-Home.TextBox55 {
;
}
.p-Home.TextBox56 {
;
}
.p-Home.Image28 {
width: 70px;
height: 70px;
}
.p-Home.TextBox45 {
font-size: 24px;
line-height: 110%;
padding-bottom: ;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox67 {
;
}
.p-Home.TextBox79 {
;
}
.p-Home.TextBox87 {
;
}
.p-Home.TextBox57 {
;
}
.p-Home.TextBox58 {
;
}
.p-Home.TextBox59 {
;
}
.p-Home.Image29 {
width: 70px;
height: 70px;
padding-bottom: ;
margin-bottom: ;
}
.p-Home.TextBox46 {
font-size: 24px;
line-height: 110%;
padding-bottom: ;
padding-top: ;
margin-top: ;
align-self: auto;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.Button8 {
color: #fff;
background-color: #000000;
padding-top: 20px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 30px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
height: 58px;
width: 196px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox92 {
;
}
.p-Home.TextBox93 {
;
}
.p-Home.TextBox91 {
font-size: 22px;
line-height: 100%;
}
.p-Home.Image31 {
width: 486px;
height: 305px;
}
.p-Home.TextBox95 {
;
}
.p-Home.TextBox96 {
;
}
.p-Home.TextBox109 {
padding-right: 10px;
}
.p-Home.Image36 {
;
}
.p-Home.Image32 {
width: 486px;
height: 305px;
}
.p-Home.TextBox117 {
;
}
.p-Home.TextBox118 {
;
}
.p-Home.Image39 {
;
}
.p-Home.TextBox116 {
padding-right: 10px;
}
.p-Home.Image33 {
width: 486px;
height: 305px;
}
.p-Home.TextBox120 {
;
}
.p-Home.TextBox121 {
;
}
.p-Home.TextBox119 {
;
}
.p-Home.Image40 {
;
}
.p-Home.Image34 {
width: 486px;
height: 305px;
}
.p-Home.TextBox123 {
;
}
.p-Home.TextBox124 {
;
}
.p-Home.Image41 {
;
}
.p-Home.TextBox122 {
padding-right: 10px;
}
.p-Home.Image35 {
width: 486px;
height: 305px;
}
.p-Home.TextBox126 {
;
}
.p-Home.TextBox127 {
;
}
.p-Home.TextBox125 {
padding-right: 10px;
}
.p-Home.Image42 {
;
}
.p-Home.Image43 {
width: 10px;
height: 15px;
background-color: #FFFFFF;
}
.p-Home.Image44 {
width: 10px;
height: 15px;
background-color: #FFFFFF;
padding-top: 22px;
padding-bottom: 22px;
padding-right: 22px;
padding-left: 22px;
}
.p-Home.TextBox131 {
margin-bottom: 30px;
font-size: 54px;
line-height: 110%;
}
.p-Home.Image46 {
width: 14px;
height: 13px;
color: #e61010;
background-color: #ffffff;
}
.p-Home.TextBox132 {
padding-right: 10px;
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox133 {
font-size: 22px;
line-height: 100%;
}
.p-Home.Image55 {
width: 14px;
height: 13px;
background-color: #ffffff;
}
.p-Home.TextBox177 {
padding-right: 20px;
font-size: 18px;
}
.p-Home.TextBox148 {
margin-top: 10px;
margin-bottom: 10px;
font-size: 28px;
line-height: 36px;
}
.p-Home.TextBox169 {
font-size: 16px;
}
.p-Home.TextBox170 {
font-size: 16px;
}
.p-Home.TextBox171 {
padding-top: ;
margin-top: 5px;
margin-left: 8px;
margin-bottom: 5px;
padding-bottom: ;
}
.p-Home.Image54 {
width: 14px;
height: 13px;
background-color: #ffffff;
}
.p-Home.TextBox176 {
padding-right: 20px;
font-size: 18px;
}
.p-Home.TextBox144 {
margin-top: 10px;
margin-bottom: 10px;
font-size: 28px;
line-height: 36px;
}
.p-Home.TextBox185 {
font-size: 16px;
}
.p-Home.TextBox186 {
font-size: 16px;
}
.p-Home.TextBox187 {
padding-top: ;
margin-top: 5px;
margin-left: 8px;
margin-bottom: 5px;
}
.p-Home.Image53 {
width: 14px;
height: 13px;
background-color: #ffffff;
}
.p-Home.TextBox175 {
padding-right: 20px;
font-size: 18px;
}
.p-Home.TextBox140 {
margin-top: 10px;
margin-bottom: 10px;
font-size: 28px;
line-height: 36px;
}
.p-Home.TextBox163 {
padding-top: ;
margin-top: 5px;
margin-left: 8px;
margin-bottom: 5px;
}
.p-Home.TextBox164 {
font-size: 16px;
}
.p-Home.TextBox165 {
font-size: 16px;
}
.p-Home.TextBox135 {
font-size: 16px;
}
.p-Home.TextBox136 {
font-size: 16px;
}
.p-Home.TextBox159 {
padding-top: ;
margin-top: 5px;
margin-left: 8px;
font-size: ;
width: ;
height: ;
margin-bottom: 5px;
}
.p-Home.TextBox137 {
margin-top: 10px;
margin-bottom: 10px;
margin-right: ;
margin-left: ;
background-color: #000000;
font-size: 28px;
line-height: 36px;
color: #ffffff;
}
.p-Home.TextBox138 {
padding-right: 20px;
font-size: 18px;
}
.p-Home.Image47 {
width: 14px;
height: 13px;
color: #ffffff;
background-color: #ffffff;
}
.p-Home.TextBox172 {
font-size: 16px;
}
.p-Home.TextBox173 {
font-size: 16px;
}
.p-Home.TextBox174 {
padding-top: ;
margin-top: 5px;
margin-left: 8px;
margin-bottom: 5px;
}
.p-Home.TextBox157 {
font-size: 28px;
line-height: 36px;
margin-top: 10px;
margin-bottom: 10px;
}
.p-Home.Image56 {
width: 14px;
height: 13px;
background-color: #ffffff;
}
.p-Home.TextBox178 {
padding-right: 20px;
font-size: 18px;
}
.p-Home.TextBox188 {
font-size: 22px;
}
.p-Home.TextBox189 {
font-size: 54px;
line-height: 110%;
}
.p-Home.TextBox190 {
width: 625px;
height: 120px;
font-size: 22px;
line-height: 40px;
color: #666666;
}
.p-Home.Image57 {
height: 625px;
}
.p-Home.Image58 {
height: 625px;
}
.p-Home.Image59 {
height: 304px;
}
.p-Home.Image60 {
height: 304px;
}
.p-Home.TextBox191 {
font-size: 36px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox193 {
line-height: 130%;
font-size: 16px;
}
.p-Home.TextBox194 {
font-size: 24px;
line-height: 110%;
}
.p-Home.Image61 {
width: 25px;
height: 25px;
}
.p-Home.TextBox199 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox195 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox196 {
font-size: 24px;
line-height: 110%;
}
.p-Home.TextBox200 {
font-size: 16px;
line-height: 130%;
}
.p-Home.Image62 {
width: 25px;
height: 25px;
}
.p-Home.TextBox197 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox198 {
font-size: 24px;
line-height: 110%;
}
.p-Home.TextBox201 {
font-size: 16px;
line-height: 130%;
}
.p-Home.Image63 {
width: 25px;
height: 25px;
}
.p-Home.TextBox212 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox213 {
font-size: 24px;
line-height: 110%;
}
.p-Home.Image68 {
width: 50px;
height: 50px;
}
.p-Home.Image69 {
width: 25px;
height: 25px;
}
.p-Home.TextBox214 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox211 {
font-size: 36px;
font-family: IBM Plex Sans;
font-weight: 700;
}
.p-Home.TextBox217 {
font-size: 16px;
line-height: 130%;
}
.p-Home.Image71 {
width: 25px;
height: 25px;
}
.p-Home.Image70 {
width: 50px;
height: 50px;
}
.p-Home.TextBox215 {
font-size: 24px;
line-height: 110%;
}
.p-Home.TextBox216 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox220 {
font-size: 16px;
line-height: 130%;
}
.p-Home.Image73 {
width: 25px;
height: 25px;
}
.p-Home.Image72 {
width: 50px;
height: 50px;
}
.p-Home.TextBox218 {
font-size: 24px;
line-height: 110%;
}
.p-Home.TextBox219 {
font-size: 16px;
line-height: 130%;
}
.p-Home.TextBox221 {
font-size: 54px;
line-height: 110%;
}
.p-Home.TextBox222 {
font-size: 22px;
}
.p-Home.Image74 {
width: 485px;
height: 450px;
}
.p-Home.Image75 {
width: 45px;
height: 45px;
}
.p-Home.TextBox223 {
font-size: 36px;
line-height: 130%;
}
.p-Home.TextBox224 {
font-size: 18px;
font-family: IBM Plex Sans;
font-weight: 400;
}
.p-Home.TextBox225 {
margin-bottom: 8px;
font-size: 20px;
}
.p-Home.Image76 {
width: 8px;
height: 13px;
padding-top: 23px;
padding-bottom: 23px;
padding-right: 20px;
padding-left: 20px;
}
.p-Home.Image77 {
width: 8px;
height: 13px;
margin-top: ;
margin-bottom: ;
padding-top: 23px;
padding-bottom: 23px;
padding-right: 20px;
padding-left: 20px;
color: #ffffff;
}
.p-Home.TextBox226 {
font-size: 22px;
}
.p-Home.TextBox227 {
font-size: 54px;
line-height: 110%;
}
.p-Home.TextBox228 {
;
}
.p-Home.Image78 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.Image81 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.TextBox231 {
;
}
.p-Home.Image80 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.TextBox230 {
;
}
.p-Home.Image79 {
width: 24px;
background-color: #0e0d0d;
}
.p-Home.TextBox229 {
;
}
.p-Home.Image83 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.TextBox233 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: ;
border-bottom-style: none;
}
.p-Home.Image84 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.TextBox234 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: ;
border-bottom-style: none;
}
.p-Home.Image85 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.TextBox235 {
margin-top: 25px;
padding-bottom: 25px;
border-bottom-width: ;
border-bottom-style: ;
}
.p-Home.Image82 {
width: 24px;
height: 24px;
background-color: #000000;
}
.p-Home.TextBox232 {
;
}
.p-Home.TextBox236 {
font-size: 54px;
line-height: 110%;
margin-top: 10px;
font-family: IBM Plex Sans;
}
.p-Home.TextBox237 {
font-size: 54px;
line-height: 110%;
}
.p-Home.TextBox239 {
font-size: 16px;
line-height: 28px;
}
.p-Home.Image88 {
width: 203px;
height: 28px;
color: #ffffff;
background-color: #000000;
}
.p-Home.Image89 {
background-color: #000000;
width: 30px;
height: 21px;
}
.p-Home.TextBox240 {
padding-left: 10px;
}
.p-Home.TextBox255 {
;
}
.p-Home.TextBox256 {
;
}
.p-Home.TextBox257 {
;
}
.p-Home.TextBox258 {
;
}
.p-Home.TextBox259 {
;
}
.p-Home.TextBox260 {
;
}
.p-Home.TextBox251 {
;
}
.p-Home.TextBox253 {
;
}
.p-Home.TextBox254 {
;
}
.p-Home.TextBox250 {
font-size: 16px;
line-height: 140%;
padding-top: 100px;
font-family: IBM Plex Sans;
font-weight: 500;
}
